@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #1c1c1c;
}
@font-face {
  font-family: 'Jost';
  src: url('./fonts/Jost-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Outfit';
  src: url('./fonts/Outfit-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Onest';
  src: url('./fonts/Onest-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}